<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="main.css">
    <title>Dinosaurs</title>
  </head>

  <body>
   <h1>Dinosaurs (collected and not collected)</h1>
   <p>Recently listened to a podcast about dinosaur DNA. That podcast inspired this collection.</p>
   <div id="app">
    <div class="collectionWrapper">
            <div class="collectionRow header">
                    <div class="cell console-name">Name</div>
                    <div class="cell console-meaning">Meaning</div>
                    <div class="cell release-time">Time Period</div>
                    <div class="cell console-image">Image</div>
                    <div class="cell collected">Collected</div>
                    <div class="cell actions">Actions</div>
                </div>

        <div class="collectionRow" v-for="(console, index) in consoles" v-bind:class="{odd: index % 2 !== 0, owned: console.collected}">
            <div class="cell console-name">{{console.name}}</div>
            <div class="cell console-meaning">{{console.meaning}}</div>
            <div class="cell release-time">{{console.time}}</div>
            <div class="cell console-image"><img :src="console.image" :alt="console.name" /></div>
            <div class="cell collected">{{console.collected}}</div>
            <div class="cell actions">
              <button type="button" v-on:click="deleteItem(console)">Delete</button>
            </div>
        </div>
    </div>

    <row-component v-for="(item, index) in dinosaurs" v-bind:class="{even: (index + 1) % 2 === 0, odd: (index + 1) % 2 ! == 0}" v-bind:name="item.name" v-bind:meaning="item.meaning" v-bind:time="item.time" v-bind:image="item.image" v-bind:collected="item.collected"></row-component>

    <form v-on:submit.prevent="submitHandler" class="new-console-form">
      <fieldset>
        <legend>Add a Dino to the list!</legend>
        <div>
          <label for="name">Name</label>
          <input id="name" type="text" v-model="newConsoleObj.name">
        </div>
        <div>
          <label for="meaning">Meaning</label>
          <input id="meaning" type="text" v-model="newConsoleObj.meaning">
        </div>
        <div>
          <label for="release-time">Time Period</label>
          <input id="release-time" type="text" v-model="newConsoleObj.time">
        </div>
        <div>
          <label for="image">Image</label>
          <input id="image" type="text" v-model="newConsoleObj.image">
        </div>
        <div>
          <label for="image">Owned</label>
          <input id="image" type="checkbox" v-model="newConsoleObj.collected">
        </div>
        <button type="submit">Submit</button>
      </fieldset>
    </form>

   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="main.js"></script>

  </body>
</html>